/* Variables */
:root {
    --primary-color: #4c662b;
    --secondary-color: #586249;
    --background-color: #E7F0DC;
    --surface-color: #f9faef;
    --text-primary-color: #000000;
    --text-secondary-color: #ffffff;
    --text-surface-color: #000000;
}

/* Base Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-primary-color);
}

h2 {
    color: var(--secondary-color);
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: var(--text-secondary-color);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 150px;
    margin-right: 10px;
}

header nav {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

header nav a {
    color: var(--text-secondary-color);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s;
}

header nav a:hover {
    color: var(--background-color);
}

/* Main Content Layout */
main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

#main-content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
    line-height: 1.5rem;
}

/* Sidebar Styles */
aside {
    flex: -1;
    text-align: center;
}

aside div img {
    width: 200px;
}

aside div table th,
aside div table td {
    text-align: left;
    padding: 0.3em;
}

/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: var(--text-secondary-color);
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Component Styles */
.card {
    background-color: var(--surface-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

/* Typography */
.main-title {
    font-size: 32pt;
}

.footer-text {
    margin-left: 20px;
}

.footer-author {
    margin-right: 20px;
}

.footer-link {
    font-style: normal;
    color: whitesmoke;
}

.small-text {
    font-size: small;
    font-style: italic;
    color: gray;
}

/* Media Elements */
figure {
    margin: 0;
}

figcaption {
    padding: 14px;
}

table {
    justify-content: center;
}

/* Responsive Design */
@media screen and (max-width: 1000px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
        order: -1;
    }
}